<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <link rel="stylesheet" type="text/css" href="/Content/css/vendor/bootstrap.min.css">
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
           <a href="#" data-toggle="modal"  data-target="#myModal">testing bootstrap modal</a>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            
        </footer>


        <div id ="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">testing my modal</h4>
                    </div>
                </div>
            </div>
        </div>

        <script src="/Content/js/vendor/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="/Content/js/vendor/bootstrap.min.js" type="text/javascript"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
